.about{

	@include desktop{
		max-width: 1076px;
		margin:0 auto;
	}
	
	.about-container{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 25px;
		margin-top: 50px;

		@include desktop{
			flex-direction: row;
		}

		.about-row{
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;

			@include desktop{
				padding: 0 20px;
			}

			

			.border-img{

				
				position: relative;
				margin: 0 auto;
				margin-bottom: 30px;



				&::before{
					content:"";
					position: relative;
					display: block;
					width: 80px;
					height: 80px;
					border: 1px solid rgb(232, 227, 227);
					border-radius: 2px;
					transition: 1s  ease;
					


					@include desktop{
						width: 60px;
						height: 60px;
					}
					
				}

				

				@include desktop{
					width: 60px;
					height: 60px;

					&:hover::before{
						border: 1px solid #e74c3c;
						transform: rotateZ(-45deg);
						transition: 1s  ease;

					}

					&:hover + .hover-title{
						color:  #e74c3c;
					}
					/* &:hover .img-infin{
						transform: rotateZ(45deg) translate(-15px,5px);
					
					} */

				/* 	&:hover .img-heart{
					transform: rotateZ(45deg) translate(-15px,1px);
				
				}
				&:hover .img-light{
					transform: rotateZ(45deg) translate(-16px,-3px);
				
				}
				&:hover .img-dialog{
					transform: rotateZ(45deg) translate(-18px,-2px);
				
				}
				
				&:hover + .hover-title{
					color:  #e74c3c;
				}
				 */
					
				}

				

				span{
					position: absolute;
					display: block;
					left: 50%;
					transform: translate(-50%,-50%);
					top: 50%;
					z-index: 9;
				}

				.img-infin{
					background: url(../img/infin.png);
					background-repeat: no-repeat;
					width: 28px;
					height: 15px;
				}

				.img-heart{
					background: url(../img/heart.png);
					background-repeat: no-repeat;
					width: 22px;
					height: 20px;
				}

				.img-light{
					background: url(../img/light.png);
					background-repeat: no-repeat;
					width: 18px;
					height: 26px;
				}

				.img-dialog{
					background: url(../img/dialog.png);
					background-repeat: no-repeat;
					width: 22px;
					height: 28px;
				}
			}
			
				.hover-title{
					font-size: 1.2rem;
					text-align: center;
					text-transform: uppercase;
					color: rgba(0, 0, 0, 0.54);
				}

				.cover-separate{
					margin-top: 10px;
					margin-bottom: 10px;
					span{
						background: url(../img/span.png);
						background-repeat: no-repeat;
						width: 80px;
						height: 5px;


						display: block;
						margin: 0 auto;
					}
				}

				p{
					padding-bottom: 40px;
					color: #a6a6a6;

					@include desktop{
						font-size: .7rem;
					}
				}
		}

	}

}